<section class="content">

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<button ng-click='ssssss()'>GetData</button>
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border" style="padding-left:15px">
							<h3 class="box-title">{{name}}</h3>
						</div>
						<div class="box-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="width:18%">Original File</th>
										<th style="width:18%">Location</th>
										<th style="width:64%">Versions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="fd in fileData">
										<td>{{fd['file']}}</td>
										<td></td>
										<td>
											Win 95+ <br/>
											Win 95+ <br/>
											Win 95+ <br/>
											Win 95+ <br/>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>